<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>LISTADO DE EMPRESAS</title>
</head>
<body>
<h3>Usuario: <span th:text="${usuario.nombre}"></span> - Password: <span th:text="${usuario.password}"></span></h3>

<h1>LISTADO DE EMPRESAS</h1>
<table border="1">
    <thead>
        <tr><th>id</th><th>nombre</th><th>email</th><th>telefono</th><th>Borrado</th><th>Modificar</th></tr>
    </thead>
    <tbody>
        <tr th:if="${empresas.empty}">
            <td colspan="6">No Hay Empresas Disponibles</td>
        </tr>
        <tr th:each="empresa : ${empresas}">
            <td><span th:text="${empresa.id}"></span></td>
            <td><span th:text="${empresa.nombre}"></span></td>
            <td><span th:text="${empresa.email}"></span></td>
            <td><span th:text="${empresa.telefono}"></span></td>
            <td><a th:href="@{'/borrado/' + ${empresa.id}}">Borrado</a></td>
            <td><a th:href="@{'/modificar/' + ${empresa.id}}">Modificar</a></td>
        </tr>
    </tbody>
</table>
<form action="/insertar" method="post">
    <br>ID: <input type="text" name="id" th:value="${empresa?.id}">
    NOMBRE: <input type="text" name="nombre" th:value="${empresa?.nombre}">
    EMAIL: <input type="text" name="email" th:value="${empresa?.email}"><br>
    TELEFONO: <input type="text" name="telefono" th:value="${empresa?.telefono}">
    <br>
    <input type="submit" name="submit" value="${boton}">
</form>
</body>
</html>
